<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-3'>
      <h2>User info</h2>
      <%= render 'users/info', user: current_user %>
      <h2 class="mt-3">New book</h2>
      <% if @book.errors.any? %>
        <%= @book.errors.count %>件のエラーが発生しました
        <ul>
          <% @book.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>
      <%= render 'form', book: @book %>
    </div>
    <div class='col-md-8 offset-md-1'>
      <h2>Books</h2>
      <div class="btn-group" role="group" aria-label="Basic example">
        <%= link_to "All", books_path, class: "btn btn-light" %>
        <%= link_to "参考書", books_path(category: "refarence"), class: "btn btn-light" %>
        <%= link_to "小説", books_path(category: "nobel"), class: "btn btn-light" %>
        <%= link_to "漫画", books_path(category: "comic"), class: "btn btn-light" %>
      </div>
      <% if @category == "refarence" %>
        <%= render 'index', books: @reference %>
      <% elsif @category == "nobel" %>
        <%= render 'index', books: @nobel %>
      <% elsif @category == "comic" %>
        <%= render 'index', books: @comic %>
      <% else %>
        <%= render 'index', books: @books %>
      <% end %>
    </div>
  </div>
</div>